services:

  postgres: # must match .env hostname
    image: postgres:18
    container_name: postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql

  app:
    build: .
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - "8000:8000"

volumes:
  postgres_data: